@import '../../../sass/abstracts/variables.scss';

.Main {
    width: 100%;
    height: auto;
    background-image: url(../../../assets/images/Projects/ksmonautaMotocykl.jpg);

    & h2 {

    }

    &_Container {
        width: 90%;;
        display: grid;
        margin-top: 2rem;
        grid-template-columns: 30ch 80ch auto;

        &_Name {
            color: $color-alert;
        }
    
        &_Desc {
            color: $color-primary;
            font-size: $text-small;
        }

        &_Link {
            color:  $color-secondary-dark;
            cursor: pointer;
        }
    
        &_Cogs_Left {
            color: $color-primary;
            margin-top: 2.8rem;
            width: 16rem;
            height: auto;
        }
    
        &_Cogs_Right {
            color: $color-primary;
            margin-top: 2.8rem;
            width: 14rem;
            height: auto;
        }
    }

}

@media (max-width: $max-width-intermediate-res) {
    .Main {
    
        &_Container {
            display: grid;
            margin-top: 2rem;
            grid-template-columns: 30ch auto;

            &_Cogs_Left {
                margin-top: 33%;
            }
                
            &_Cogs_Right {
                display: none;
            }
        }
    
    }   
}

@media (max-width: $max-width-medium-res) {
    .Main {
    
        &_Container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &_Cogs_Left {
                margin-top: 0;
            }
        }
    
    }      
}

@media (max-width: $max-width-small-res) {
    .Main {
        &_Container {
            &_Desc {
                font-size: $text-supersmall;
            }
        }
    }
}
