portfolio/node_modules
portfolio/package-lock.json
portfolio/cmd.lnk
portfolio/build
fontawesome-free-5.14.0-web
cmd.lnk
3zebatki.svg
200w.webp
Academics2.jpg
black-and-white-cogs-gears-industrial-wallpaper-thumb.jpg
Cogs Turning 2.mov
cogwheel-gear-svgrepo-com.svg
cogwheel-svgrepo-com.svg
cogwheel3.svg
Laptop2JobExperience.jpg
LaptopJobExperience.jpg
nuke.webp
photoAcademics.jpg
trybiki1.jpg
portfolio/src/assets/images/Projects/3zebatki.svg
portfolio/src/assets/images/Projects/ksmonautaMotocykl.jpg
