@import '../../../sass/abstracts/variables.scss';

.Main {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url('../../../assets/images/Experience/Laptop2JobExperience.jpg');

    & h2 {
        align-self: flex-start;
        color: $color-tertiary;
    }

    &_Container {
        width: 90%;
        color: $color-tertiary;

        & li {
            margin-top: 2rem;
            background-color: rgba(0,0,0,.4);
        }

        &_JobPosition {
            font-size: $text-large;
        }

        &_Interval {
            font-size: $text-small;
            font-style: italic;
        }

        &_Company {
            font-size: $text-small;
            font-style: bold;
        }

        &_Desc {
            font-size: $text-small;
            font-style: normal;
        }

        &_Git {
            font-size: $text-supersmall;
        }

    }
}