@import '../../../sass/abstracts/variables.scss';

.Main {
    & video {
        position: fixed;
        height: 125vh;
        width: auto;
    }

    & h2 {
        margin-left: 1.5rem;
        color: $color-tertiary;
        z-index: 100;
        position: relative;
    }

    &_Container {
        width: 100%;
        z-index: 100;
        position: absolute;
        display: grid;
        grid-template-columns: repeat(auto-fit,min-max(15rem,1fr));

        &_ul {
            margin-top: $text-small;
            text-decoration: none;
            color: $color-tertiary;
        }

        &_Name {
            color: $color-alert;
        }
    
        &_Desc {
            color: $color-tertiary;
            font-size: $text-small;
        }

        &_GrCap {
            z-index: -1;
            width: 1.5rem;
            filter: $filter-main;
        }

        &_Diploma  {
            &_Title {
                font-size: $text-small;
                align-content: center;
                color: $color-tertiary;
            }
        }

    }

}

@media (max-width: $max-width-medium-res) {
    .Main {
        &_Container {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: flex-start;
        }
    }
}