@import '../../../../../sass/abstracts/variables.scss';

.Button {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;


    &__Flag {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin-right: 25px;
    }

    &__Lang {
        height: 1rem;
        color: $color-primary;
    }
}