@import '../../../sass/abstracts/variables.scss';

.SideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    //background-color: $color-tertiary;
    background-color: $color-secondary-light;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: all .5s ease-out;
}

@media (min-width: $min-width-small-res) {
    .SideDrawer {
        display: none;
    }
}

.Open {
    display: flex;
    flex-flow: column;
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.Logo {
    height: 11%;
    margin-bottom: 2rem;
}